#choices {
  color: goldenrod;
  position: absolute;
  top: 3%;
  right: 2%;
  display: inline-block;
  vertical-align: baseline;
  padding-top: 2rem;
}

p {
  color: goldenrod;
}
body {
  background-image: url(/images/makaoMemaLogo.jpg);
  background-repeat: no-repeat;
  background-size: auto 90%;
  position: relative;
}