<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Contacts</title>
     </head>

     <body>
          <h1>Feel free to reach out to us</h1>
          <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
               minima officiis voluptate deleniti nemo quisquam culpa placeat alias
               explicabo, harum, nisi esse aliquam possimus magnam repellat molestiae
               dolor quam sunt, temporibus minus veritatis aperiam quasi et. Dolorum nam
               velit ipsum, esse ipsa laborum et suscipit labore voluptates? Obcaecati,
               consequuntur neque? Dolorem reprehenderit cum odit doloremque rem
               dignissimos, minus consequuntur officia voluptatem autem, tempore nobis
               quasi molestias mollitia facere reiciendis. Repellat quas, rerum quia
               fugit, dolor ullam minima deserunt iure praesentium placeat molestiae
               numquam. Molestias, necessitatibus. Doloremque, natus atque reprehenderit
               ex dolorem temporibus molestias ea tempora. Explicabo, officiis dolor!
               Quis, quibusdam?
          </p>
          <br />
          <p><a href="/index.html"> Back to Homepage </a></p>

          <footer>
               <p>Authors: Alex Gathungu, Mariana Maina <img src="/images/makaoMemaLogo.jpg" alt="makaoMemaLogo"
                         height="15rem"> &copy;2023 </p>
          </footer>
     </body>

</html>