<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>MakaoMemaErrorPage</title>
     </head>

     <body>
          <h1>Oopsy...not available</h1>

          <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, odio
               sunt. Saepe neque, porro alias cupiditate ipsa assumenda doloribus debitis
               dolor aspernatur nobis sint? In facilis ut aperiam deleniti dolor aliquam,
               error temporibus repellat, quidem, consectetur quod dolores quae
               aspernatur reiciendis non nulla minima perspiciatis quam ipsum quas iste.
               Iste?
          </p>
          <br />

          <p><a href="/index.html"> Back to Homepage </a></p>

          <footer>
               <p>Authors: Alex Gathungu, Mariana Maina <img src="/images/makaoMemaLogo.jpg" alt="makaoMemaLogo"
                         height="15rem">
                    &copy;2023 </p>
          </footer>
     </body>

</html>