<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>available houses</title>
  </head>
  <body>
    <h5>Here are the available houses</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nostrum
      voluptate totam. Eveniet quisquam, facere est ducimus, eligendi dolor
      ullam ab quod perspiciatis quo itaque in accusamus? Recusandae nesciunt
      placeat quae aliquam fugit, saepe rerum.
    </p>

    <footer>
      <p>Author: Alex Gathungu. &copy;2023</p>
    </footer>
  </body>
</html>
