#welcomeMakao {
  margin-top: auto;
  background-color: purple;
  font-size: 30px;
  text-align: center;
  color: goldenrod;
}
#choices {
  color: goldenrod;
  position: absolute;
  top: 3%;
  right: 2%;
  display: inline-block;
  vertical-align: baseline;
  padding-top: 2rem;
}
#footerIndex {
  margin-top: auto;
  background-color: purple;
  font-size: 15px;
  text-align: center;
  color: goldenrod;
}
p {
  color: goldenrod;
}
body {
  background-image: url(/images/makaoMemaLogo.jpg);
  background-repeat: no-repeat;
  background-size: auto 90%;
}
