<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>userRegistration</title>
  </head>

  <body>
    <h4>Welcome to Makao Mema</h4>
    <p>Please fill in the registration form below</p>
    <form action="signUp" method="post">
      <input type="text" name="fullName" placeholder="Fullnames" />
      <br />
      <input type="email" name="email" value="email@email" />
      <br />
      <input type="password" name="password" placeholder="password" />
      <br />
      <input type="submit" value="sign up" />
    </form>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat
      alias id, quia corporis vel, tempore similique nisi, sed maiores dolores
      repudiandae debitis cumque nihil! Libero deleniti numquam amet nihil
      cupiditate omnis expedita eaque necessitatibus.
    </p>
    <p><a href="/index.html"> Back to Homepage </a></p>
    <footer>
      <p>Authors: Alex Gathungu, Mariana Maina <img src="/images/makaoMemaLogo.jpg" alt="makaoMemaLogo" height="15rem">
        &copy;2023 </p>
    </footer>
  </body>

</html>